body {
	background-color: black;
	color: rgba(255, 255, 255, 0.867);
	text-align: center;
	font-family: "Courier Prime", serif;
}

h1 {
	font-size: 3em;
	margin-top: 25vh; /* Reduced margin for the list */
}

ul {
	list-style-type: none; /* Remove bullet points */
	margin: 0;
	padding: 0;
	margin-top: 3vh;
}

li {
	display: inline; /* Make list items display horizontally */
	margin: 0 10px; /* Add space between list items */
}

a {
	color: rgba(255, 255, 255, 0.867); /* Set link color to white */
	text-decoration: none; /* Remove underlines from links */
}

a:hover {
	color: rgba(255, 255, 255, 0.567); /* Change color to cyan on hover */
}

.about {

    align-items:center;
    justify-content: center;
	text-align: center;
	margin-top: 15vh;

}

.roundrect {
	border-radius: 25px;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 3.5s steps(40, end),
	  blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }