body {
	background-color: black;
	color: rgba(255, 255, 255, 0.867);
	text-align: center;
	font-family: "Courier Prime", serif;
}

h1 {
	font-size: 3em;
	margin-top: 35vh; /* Reduced margin for the list */
}

ul {
	list-style-type: none; /* Remove bullet points */
	margin: 0;
	padding: 0;
	margin-top: 3vh;
}

li {
	display: inline; /* Make list items display horizontally */
	margin: 0 10px; /* Add space between list items */
}

a {
	color: rgba(255, 255, 255, 0.867); /* Set link color to white */
	text-decoration: none; /* Remove underlines from links */
}

a:hover {
	color: rgba(255, 255, 255, 0.567); /* Change color to cyan on hover */
}


.about {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center the text content */
    margin-top: 5vh;
}

p {
	max-width: 800px;
}

.roundrect {
	border-radius: 25px;
}


video {
    position: fixed;
    top: 0;
    left: 0;
	min-width: 100%;
  	min-height: 100%;
	width: auto;
	height: auto;
	align-items:center;
    justify-content: center;
    z-index: -1; /* Place the video behind other elements */
	object-fit: cover;
  	object-position: center;
	opacity: 0.6;
}